{% extends "account/signup.html" %}
{% load static %}
{% block emailcheck %}
{% if confirmation %}
<div style="height:185px;">
    <p style="font-size:24px; margin:0; color:#eee; margin:15px 0 0 0">
        <b>이메일 인증</b>
    </p>
    <p style="color:#aaa; margin:5px 0 0 0;">
        아래 인증 버튼을 눌러 가입을 완료해주세요.
    </p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" style="margin:25px 0 0 0;">
        {% csrf_token %}
        <button type="submit">인증</button>
    </form>
</div>
{% else %}
<div style="height:185px;">
    <p style="font-size:24px; margin:0; color:#eee; margin:45px 0 0 0">
        <b>이메일 인증</b>
    </p>
    <p style="color:#aaa; margin:5px 0 0 0;">
        인증이 만료되었거나 유효하지 않습니다.
    </p>
</div>
{% endif %}
{% endblock emailcheck %}