{% extends "home/home.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/static/user.css/" />
<section id="account">
    <img src="{% static 'logo2.png' %}" />
    {% block emailcheck %}
    <form method="post">
        {% csrf_token %}
        {% block signup %}
        <div class="input">
            <span>아이디</span>
            {{form.login}}
            <span>비밀번호</span>
            {{form.password}}
        </div>
        <button type="submit" style="margin:0;">로그인</button>
        <div class="help">
            자동로그인
            <div>
                <a href="{% url 'account_reset_password' %}">계정찾기</a>&nbsp|&nbsp
                <a href="{% url 'account_signup' %}">회원가입</a>
            </div>
        </div>
    </form>
    {% if form.non_field_errors %}
    <p style="color:#ff3737; font-size:13px;">아이디 또는 비밀번호가 올바르지 않습니다. <br> 입력하신 내용을 다시 확인해주세요.</p>
    {% endif %}
    <div class="social">
        <button class="naver" type="submit">네이버 로그인</button>
        <button class="kakao" type="submit">카카오 로그인</button>
        <button class="google" type="submit">구글 로그인</button>
    </div>
    {% endblock signup %}
    {% endblock emailcheck %}
    <img id="ad">
</section>
{% endblock content %}