{% extends "account/login.html" %}
{% load static %}
{% block emailcheck %}
<div style="height:230px;">
    <p style="font-size:24px; margin:0; color:#ddd; margin:0">
        <b>계정 찾기</b>
    </p>
    <p style="color:#aaa; margin:5px 0 0 0;">
        회원 정보에 등록된 이메일로 인증 메일이 전송됩니다.<br>
        이메일을 입력하고 인증을 진행해주세요.
    </p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <input type="email" id=email name="email" onchange="email_val()" style="margin:20px 0 0 0;">
        <p id="email_help" style="margin:10px; font-size:14px; color:#ff3737"></p>
        <script>
            function email_val() {
                var exp = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
                if ($("#email").val() == "") {
                    document.getElementById('email_help').innerHTML = ''
                    $("#done").attr("disabled", true);
                    document.getElementById('done').style.backgroundColor = "efefef4d";
                    document.getElementById('done').style.color = "#aaa";
                }
                else if (!exp.test($("#email").val())) {
                    document.getElementById('email_help').innerHTML = "이메일 형식이 올바르지 않습니다.";
                    $("#done").attr("disabled", true);
                    document.getElementById('done').style.backgroundColor = "efefef4d";
                    document.getElementById('done').style.color = "#aaa";
                }
                else {
                    $.ajax({
                        url: "{% url 'user:check' %}",
                        data: { "email": $("#email").val() },
                        datatype: 'json',
                        success: function (data) {
                            if (data['check'] == "fail") {
                                document.getElementById('email_help').innerHTML = ''
                                $("#done").removeAttr("disabled");
                                document.getElementById('done').style.backgroundColor = "#848b79";
                                document.getElementById('done').style.color = "#ddd";

                            } else {
                                document.getElementById('email_help').innerHTML = "존재하지 않는 이메일입니다.";
                                $("#done").attr("disabled", true);
                                document.getElementById('done').style.backgroundColor = "efefef4d";
                                document.getElementById('done').style.color = "#aaa";
                            }
                        }
                    })
                }
            }    
        </script>
        <button id="done" type="submit" style="background:#efefef4d; color:#aaa; margin:0;" disabled>인증</button>
    </form>
</div>
{% endblock emailcheck %}