{% extends "account/login.html" %}
{% load static %}
{% block signup %}
{% if token_fail %}
<div style="height:185px;">
    <p style="font-size:24px; margin:0; color:#ddd; margin:45px 0 0 0">
        계정 찾기
    </p>
    <p style="color:#aaa; margin:5px 0 0 0;">
        인증이 만료되었거나 유효하지 않습니다.
    </p>
</div>
{% else %}
<div>
    <p style="font-size:24px; margin:0; color:#ddd; margin:0">
        비밀번호 변경
    </p>
    <p style="color:#aaa; margin:5px 0 0 0;">
        새로운 비밀번호를 설정합니다. <br>
        사용하실 비밀번호를 작성 후 완료 버튼을 눌러 진행해주세요.
    </p>
    <div class="input" style="margin:30px auto;">
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <span>비밀번호</span> (영문 대/소문자, 숫자, 특수문자를 모두 포함한 8자 이상)
            <input type="password" name="password1" autocomplete="new-password" required id="password1"
                onchange="pw_val()" style="margin-bottom:0;">
            <script>
                function pw_val() {
                    document.getElementById('pw1_help').style.color = "#ff3737";
                    var reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
                    if ($("#password1").val() == '') {
                        document.getElementById('pw1_help').innerHTML = '';
                    }
                    else if (!reg.test($("#password1").val())) {
                        document.getElementById('pw1_help').innerHTML = "영문 대/소문자, 숫자, 특수 문자를 모두 포함한 8자 이상으로 생성해주세요.";
                        document.getElementById('done').style.backgroundColor = "#efefef4d";
                        document.getElementById('done').style.color = "#aaa";
                        $("#done").attr("disabled", true);
                    }
                    else {
                        document.getElementById('pw1_help').style.color = "#19ce60";
                        document.getElementById('pw1_help').innerHTML = "사용 가능한 비밀번호 입니다.";
                        document.getElementById('done').style.backgroundColor = "#848b79";
                        document.getElementById('done').style.color = "#ddd";
                        $("#done").removeAttr("disabled");
                    }
                }
            </script>
            <p id="pw1_help" style="margin-top:5px;"></p>
            <span>비밀번호 확인</span>
            <input type="password" name="password2" autocomplete="new-password" required id="password2"
                onchange="pw_check()" style="margin-bottom:0;">
            <script>
                function pw_check() {
                    if (document.getElementById('password1').value != '' && document.getElementById('password2').value != '') {
                        if (document.getElementById('password1').value == document.getElementById('password2').value) {
                            document.getElementById('pw2_help').style.color = "#19ce60";
                            document.getElementById('pw2_help').innerHTML = "비밀번호가 일치합니다.";
                            document.getElementById('done').style.backgroundColor = "#848b79";
                            document.getElementById('done').style.color = "#ddd";
                            $("#done").removeAttr("disabled");

                        }
                        else {
                            document.getElementById('pw2_help').style.color = "#ff3737";
                            document.getElementById('pw2_help').innerHTML = '비밀번호가 일치하지 않습니다.';
                            document.getElementById('done').style.backgroundColor = "#efefef4d";
                            document.getElementById('done').style.color = "#aaa";
                            $("#done").attr("disabled", true);
                        }
                    }
                }
            </script>
            <p id="pw2_help" style="margin-top:5px;"></p>
            <button id="done" type="submit" style="background:#848b79; color:#ddd; margin:0;">완료</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock signup %}