{% extends "account/signup.html" %}
{% load static %}
{% block emailcheck %}
<div>
    <p style="font-size:24px; color:#ddd; margin:0">
        <b>계정 탈퇴</b>
    </p>
    <p style="color:#aaa; margin:5px 0 0 0; font-size:14px;">
        탈퇴시 개인 정보 및 이용 정보가 삭제되며 복구할 수 없습니다. <br>
        비밀번호를 입력하신 후 하단의 유의사항 동의에 체크하고 진행해주세요.
    </p>
    <form method="post" style="margin:15px 0 0 0;">
        {% csrf_token %}
        <p style="margin:0;">
            <input type="password" name="password" id="password" style="margin:0 0 5px 0;" onchange="pw_val()">
        </p>
        {% if password_form.password.errors %}
        <p id="pw_help" style="margin:3px 0 5px 0; font-size:14px; color:#ff3737;">비밀번호가 일치하지 않습니다.</p>
        {% else %}
        <p id="pw_help" style="margin:3px 0 5px 0; font-size:14px; color:#ff3737;"></p>
        {% endif %}
        <script type="text/javascript">
            function pw_val() {
                var reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
                if ($("#password").val() == '') {
                    document.getElementById('pw_help').innerHTML = '';
                    $("#box").attr("disabled", true)
                    $("#done").attr("disabled", true)
                }
                else if (!reg.test($("#password").val())) {
                    document.getElementById('pw_help').innerHTML = "올바른 비밀번호를 입력해주세요.";
                    $("#box").attr("disabled", true)
                    $("#done").attr("disabled", true)
                }
                else {
                    document.getElementById('pw_help').innerHTML = "";
                    $("#box").removeAttr("disabled")
                }
            }
        </script>
        <p style="margin:0;">
            <input id="box" name="box" type="checkbox" style="width:19px; margin:0; height:19px; vertical-align:-4px;"
                disabled onclick="check(this.form)">
            <span style="font-size:15px;"><b>유의 사항 동의</b></span>
        </p>
        <script type="text/javascript">
            function check(form) {
                if (form.box.checked == true) {
                    $("#done").removeAttr("disabled");
                    document.getElementById('done').style.color = "#ddd";
                    document.getElementById('done').style.backgroundColor = "#848b79";
                } else {
                    $("#done").attr("disabled", true);
                    document.getElementById('done').style.color = "#aaa";
                    document.getElementById('done').style.backgroundColor = "#efefef4d";
                }
            }
        </script>
        <button id="done" style="background:#efefef4d; color:#aaa; margin:15px 0 0 0;" type="submit"
            disabled>탈퇴</button>
    </form>
</div>
{% endblock emailcheck %}