<!DOCTYPE html>

<head>
</head>

<body>
    <div style="text-align: center; background:#272727; padding:50px 0">
        <p style="font-size:24px; margin:0; color:#ddd; margin:0">
            <b>이메일 인증</b>
        </p>
        <p style="color:#aaa; margin:25px 0;">
            아래의 버튼을 눌러 인증을 완료해주세요. <br>
            본인이 요청하지 않았다면 이 이메일은 무시해 주세요.
        </p>
        <a href="{{ activate_url }}">
            <button
                style="background:#848b79; color:#ddd; margin:0; border: none; border-radius: 3px; cursor: pointer; padding: 15px 50px; font-size:15px;">
                <b>인증</b>
            </button>
        </a>
        <div
            style="width:500px; padding:25px 0 0 0; border-top:1px solid #484848; margin:25px auto 0 auto; color:#aaa; font-size:13px;">
            Copyright 2022. 4MILLDUK all rights reserved.
        </div>
    </div>
</body>

</html>