section#best {
    border: #484848 solid 1px;
    background: #272727;
    width: 900px;
    padding: 10px;
    margin-top: 5px;
}

section#best span {
    font-size: 17px;
    border-left: 2px solid #848b79;
    padding-left: 5px;
}

section#best div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px;
}

section#best a {
    color: #aaa;
    text-decoration: none;
}

section#best li {
    font-size: 11px;
    color: #aaa;
}

section#best li a {
    padding: 2px 0;
    color: #aaa;
    font-size: 15px;
}

section#best ul {
    width: 49.5%;
    list-style: none;
    margin: 0;
    padding: 0;
}

img#list-ad {
    border: 1px solid #484848;
    background: #272727;
    width: 920px;
    height: 120.5px;
    margin-top: 5px;
}


section#menu {
    display: flex;
    flex-direction: row;
    background: #272727;
    border: 1px solid #484848;
    padding: 10px;
    font-size: 17px;
    width: 900px;
}


section#list {
    margin-top: 2px;
    width: 920px;
    border: 1px solid #484848;
    background: #272727;
}

table {
    text-align: center;
}

th {
    font-size: 14px;
    color: #555;
    padding: 7px;
}

section#list td {
    padding: 7px;
}

section#list tr {
    font-size: 15px;
    border: 1px solid #363636;
    color: #aaa;
}

section#list td#title {
    text-align: left;
}

section#list a {
    color: #aaa;
}

section#button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    height: 30px;
    font-size: 14px;
    padding-left: 80px;
}


ul.page-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.page-list li a {
    color: #aaa;
    text-decoration: none;
}

.page-item {
    text-align: center;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    font-size: 13px;
}

.page-item-active {
    text-align: center;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    background: #848b79;
}

.page-item-button {
    padding-top: 2px;
}


section#button button {
    background: #848b79;
    width: 80px;
    text-align: center;
}

section#button button a {
    color: #eee;
}

section#search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 460px;
    height: 40px;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #484848;
}


section#search input {
    padding: 5px;
    width: 300px;
    height: auto;
    background: #272727;
}

section#search select {
    width: 90px;
    background: #272727;
    color: #aaa;
    text-align: center;
    border-right: 1px solid #484848;
}

section#search button {
    width: 70px;
    background: #272727;
    color: #aaa;
    border-left: 1px solid #484848;
}

/* detail */

section#detail {
    width: 900px;
    border: 1px solid #484848;
    background: #272727;
    padding: 10px;
    font-size: 22px;
}

section#detail .modify {
    font-size: 15px;
    float: right;
    color: #aaa;
    padding: 10px 0;
}

section#detail .modify a {
    color: #848b79;
}

section#detail .modify a#del {
    color: #e74c3c;
    cursor: pointer;
}


section#detail .sub {
    padding: 3px 0;
    margin: 15px 0;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #484848;
    font-size: 13px;
    color: #aaa;
}

section#detail .sub span {
    float: right;
}

section#detail .content {
    color: #aaa;
    font-size: 16px;
}

section#detail .writer-info {
    border: 1px solid #484848;
    width: 700px;
    height: 150px;
    margin: 100px auto 10px;
    padding: 10px;
}

section#detail .buttons {
    text-align: center;
}

section#detail .buttons button {
    width: 90px;
    height: 40px;
    color: #eee;
    border: 1px solid #484848;
    margin: 10px 5px;
    background: #848b79;
    font-size: 15px;
    border: 1px solid #484848;
    cursor: pointer;
}

section#detail .buttons button#flag {
    background: #e74c3c;
}

img#detail-ad {
    border: 1px solid #484848;
    background: #272727;
    width: 900px;
    height: 120.5px;
    margin: 5px 0;
}

section#detail textarea {
    font-family: inherit;
    background: #363636;
    color: #aaa;
    min-width: 890px;
    max-width: 890px;
    margin-top: 5px;
    min-height: 85px;
    padding: 5px;
    outline: none;
    font-size: 15px;
    border: 1px solid #484848;
}

section#detail #comment_create {
    width: 60px;
    height: 35px;
    color: #eee;
    border: 1px solid #484848;
    float: right;
    background: #848b79;
    cursor: pointer;
}

section#detail #new_comment {
    list-style: none;
    padding: 0;
    margin: 0;
}

section#detail ul#comment_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#comment_list li,
#new_comment li {
    border: 1px solid #484848;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    min-height: 70px;
    padding: 10px;
    margin: 10px 0 0 0;
}

section#detail li img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

section#detail li div {
    width: 100%;
}

section#detail li div span {
    float: right;
    font-size: 12px;
    color: #aaa;
}


section#detail li div p {
    color: #aaa;
    margin: 5px 0 0 0;
    font-size: 15px;
}

section#detail ul.page-list {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

/* write */
section#write {
    text-align: center;
}

section#write img#write-ad {
    border: 1px solid #484848;
    background: #272727;
    width: 920px;
    height: 120.5px;
    margin-top: 5px;
}

section#write form {
    width: 920px;
    margin-top: 8px;
    border: 1px solid #484848;
    background: #272727;
}

section#write select {
    height: 50px;
    width: 100px;
    background: #272727;
    text-align: center;
    color: #aaa;
}

section#write input {
    height: 30px;
    width: 790px;
    background: #272727;
    font-size: 15px;
}

section#write button {
    width: 80px;
    height: 40px;
    color: #eee;
    margin: 10px 5px;
    cursor: pointer;
}

section#write button#done {
    background: #848b79;
}

section#write button#cancel {
    background: #363636;
}