section#event {
    border: #484848 solid 1px;
    background: #272727;
    padding: 10px;
    margin-top: 5px;
}

section#event .title {
    font-size: 20px;
    padding: 2px 0 10px 0;
    border-bottom: #848b79 1px solid;
}

section#event #calendar {
    margin: 10px 0 0 0;
}

#calendar .fc-toolbar-title {
    font-size: 24px;
}

#calendar .fc-button-primary {
    background: #848b79;
    border-color: #484848;
}

#calendar .fc-day-today {
    background: #484848;
}

#calendar .fc-h-event {
    border: 1px solid #848b79;
    background: #848b79;
    opacity: 0.8;
}


#calendar .fc-day-future,
#calendar .fc-day-past,
#calendar .fc-scrollgrid {
    border: 1px solid #484848;
}

#calendar td,
#calendar th {
    border: none;
}

section#event ul {
    list-style: none;
    margin: 10px 0 0 0;
    border-top: 1px solid #848b79;
    padding: 10px 0 0 0;
}

section#event li {
    display: flex;
    flex-direction: row;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #484848;
}

section#event img {
    width: 120px;
    height: 70px;
}

section#event ul div {
    margin: 0 0 0 10px;
}

section#event ul a {
    color: #ddd;
    font-size: 20px;
}

section#event ul p {
    font-size: 15px;
    color: #aaa;
    margin: 5px 0 0 0;
}

section#button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    font-size: 14px;
    padding-left: 80px;
    margin: 5px 0 0 0;
}

section#button button {
    background: #848b79;
    width: 80px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

section#button button a {
    color: #ddd;
}

section#detail {
    width: 900px;
    border: 1px solid #484848;
    background: #272727;
    padding: 10px;
    font-size: 22px;
}

img#event-detail-ad {
    width: 922px;
    height: 120px;
    margin: 5px 0 0 0;
}

section#detail .modify {
    font-size: 15px;
    float: right;
    color: #aaa;
    padding: 10px 0;
}

section#detail .modify a {
    color: #aaa;
    cursor: pointer;
}

section#detail .sub {
    padding: 3px 0;
    margin: 15px 0;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #484848;
    font-size: 13px;
    color: #aaa;
}

section#search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 380px;
    height: 40px;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #484848;
}

section#search input {
    padding: 5px;
    width: 300px;
    height: auto;
    background: #272727;
}

section#search button {
    width: 70px;
    background: #272727;
    color: #aaa;
    border-left: 1px solid #484848;
    cursor: pointer;
}


section#write {
    text-align: center;
}

section#write form {
    border: 1px solid #484848;
    background: #272727;
}

section#write form .top {
    background: #363636;
    height: 60px;
}


section#write #id_start {
    width: 100px;
    background: #363636;
    color: #aaa;
}

section#write #id_end {
    width: 100px;
    background: #363636;
    color: #aaa;
}

section#write #id_thumbnail {
    width: 175px;
    height: 30px;
}

section#write .top label {
    padding: .5em .75em;
    background: #363636;
    font-size: 15px;
    border: 1px solid #484848;
    cursor: pointer;
}

section#write .top input[type="file"] {
    display: none;
}

section#write select {
    height: 60px;
    width: 100px;
    text-align: center;
    background: #363636;
    color: #aaa;
    font-size: 16px;
}

section#write #id_title {
    width: 545px;
    height: 40px;
    background: #363636;
    font-size: 16px;
}

section#write input#done {
    background: #848b79;
    width: 80px;
    height: 40px;
    color: #ddd;
    margin: 10px 5px;
    cursor: pointer;
}

section#write button#cancel {
    background: #363636;
    width: 80px;
    height: 40px;
    color: #ddd;
    margin: 10px 5px;
    cursor: pointer;
}