section#news_list {
    width: 910px;
    padding: 0 5px;
    border: 1px solid #484848;
    background: #272727;
}

section#news_list .news-page {
    list-style: none;
    margin: 0;
    padding: 0;
}

section#news_list .news-page li {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 0 6px 0;
    border-bottom: 1px solid #484848;
    margin: 7px 0;
}

section#news_list .news-page li img {
    min-width: 185px;
    max-width: 185px;
    min-height: 135px;
    max-height: 135px;
}

section#news_list .news-page li div {
    margin: 0 0 0 10px;
    font-size: 20px;
    color: #ddd;
    width: 100%;
}

section#news_list .news-page li p {
    margin: 5px 0;
    font-size: 12px;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #484848;
    padding: 3px 0;
    color: #bbb;
}

section#news_list .news-page p span {
    font-size: 12px;
    float: right;
}

section#news_list .news-page li .content {
    font-size: 15px;
    color: #bbb;
}

section#button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    font-size: 14px;
    padding-left: 80px;
    margin: 5px 0 0 0;
}

section#button button {
    background: #848b79;
    width: 80px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

section#button button a {
    color: #ddd;
}

/* detail */

section#detail {
    margin: 10px 0 0 0;
    width: 900px;
    border: 1px solid #484848;
    background: #272727;
    padding: 10px;
}

section#detail h1 {
    margin: 0;
    font-size: 21px;
    display: inline;
}


section#detail .modify {
    font-size: 15px;
    float: right;
    color: #bbb;
    padding: 5px 0;
}

section#detail .modify a {
    color: #bbb;
    cursor: pointer;
}

section#detail .sub {
    padding: 3px 0;
    margin: 11px 0;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #484848;
    font-size: 13px;
    color: #bbb;
}

section#detail .sub span {
    float: right;
}

section#detail .content {
    font-size: 16px;
}

section#detail .content table {
    width: 100%;
}

section#detail .content table,
section#detail .content tr,
section#detail .content td {
    border: 1px solid #bbb;
    border-collapse: collapse;
}


section#detail .content p {
    margin: 0;
}

/* write */
section#write {
    text-align: center;
}

section#write form {
    border: 1px solid #484848;
    background: #272727;
}

section#write form .top {
    background: #363636;
    height: 60px;
}

section#write .top label {
    padding: .5em .75em;
    background: #363636;
    font-size: 15px;
    border: 1px solid #484848;
    cursor: pointer;
    margin-left: 13px;
}

section#write .top input[type="file"] {
    display: none;
}

section#write .top #preview {
    width: 60px;
    height: 60px;
    margin: auto;
    vertical-align: -23px;
    display: none;
}

section#write .top #preview:hover {
    transform: scale(5);
}

section#write #id_title {
    width: 810px;
    height: 40px;
    background: #363636;
    font-size: 16px;
}


section#write input#done {
    background: #848b79;
    width: 80px;
    height: 40px;
    color: #ddd;
    margin: 10px 5px;
    cursor: pointer;
}

section#write button#cancel {
    background: #363636;
    width: 80px;
    height: 40px;
    color: #ddd;
    margin: 10px 5px;
    cursor: pointer;
}

section#search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 380px;
    height: 40px;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #484848;
}


section#search input {
    padding: 5px;
    width: 300px;
    height: auto;
    background: #272727;
}

section#search button {
    width: 70px;
    background: #272727;
    color: #bbb;
    border-left: 1px solid #484848;
    cursor: pointer;
}