/* HOME */

html {
    color: #fff;
    background-color: #272727;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

div#content {
    background-color: #363636;
    width: 1200px;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    position: relative;
}

header {
    margin: 0;
    height: 240px;
    width: 100%;
    position: relative;
}

div#header-top {
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

div#logo {
    padding: 15px;
    width: 350px;
    margin-right: 20px;
}

div#header-ad {
    border: #363636 solid 1px;
    background-color: #272727;
    width: 810px;
}

div#header-bottom {
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

div#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #484848 solid 1px;
    background-color: #272727;
    width: 350px;
    margin-right: 20px;
}

input#search-input {
    padding: 15px;
    width: 285px;
    height: auto;
    border: none;
    background-color: #272727;
}

button#search-done {
    border: #484848 solid 1px;
    width: 60px;
    background-color: #848b79;
    text-align: center;
}

div#menu {
    display: flex;
    flex-direction: row;
    border: #484848 solid 1px;
    background-color: #272727;
    width: 810px;
}

div#menu-button {
    background-color: #848b79;
    width: 100%;
    padding-top: 16px;
    text-align: center;
    color: #fff;
}

span#menu-text {
    margin-left: 2px;
    font-size: 17px;
}

div#main-content {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding: 10px;
}

div#news-line {
    border: #484848 solid 1px;
    background-color: #272727;
    width: 900px;
}

div#news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    border-bottom: #484848 1px solid;
}

div#news-choice {
    font-size: 15px;
    margin-top: 7px;
}

div#news-content {
    display: flex;
    flex-direction: row;
    height: 370px;
}

div#news {
    height: 250px;
    width: 285px;
    margin-top: 10px;
    margin-left: 11px;
}

div#news-title {
    height: 280px;
    border: #484848 1px solid;
}

div#news-body {
    margin-top: 10px;
    height: 60px;
    border: #484848 1px solid;
}

div#news-button {
    padding: 0 10px;
    text-align: right;
}

aside#side {

    margin-left: 10px;
    width: 270px;
}

div#profile {
    border: #484848 solid 1px;
    padding: 10px;
    width: auto;
    height: 130px;
    text-align: center;
}

div#login {
    background-color: #848b79;
    height: 50px;
    margin-top: 8px;
    padding-top: 13px;
}

div#account-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 10px;
    color: #aaa;
}

div#top-side-ad {
    border: #484848 solid 1px;
    background-color: #272727;
    width: auto;
    height: 350px;
}

div#boardlist {
    display: flex;
    flex-direction: row;
    height: 470px;
    width: 900px;
}

div#new-boards {
    border: #484848 solid 1px;
    background-color: #272727;
    width: 442.5px;
}

div#hot-boards {
    border: #484848 solid 1px;
    background-color: #272727;
    width: 442.5px;
    margin-left: 15px;
}

div#boards-title {
    padding: 10px;
    border-bottom: 1px #484848 solid;
    font-size: 20px;
}

div#boards-body {
    padding: 10px;
}

div#side-content {
    border: #484848 solid 1px;
    background-color: #272727;
    height: 235px;
}


div#bottom-content {
    display: flex;
    flex-direction: row;
    height: 270px;
    padding: 10px;
    margin-top: 10px;
}

div#mostlist {
    display: flex;
    flex-direction: row;
    width: 610px;
}

div#most-view {
    background-color: #272727;
    border: #484848 solid 1px;
    width: 300px;
}

div#most-good {
    background-color: #272727;
    border: #484848 solid 1px;
    width: 300px;
    margin-left: 10px;
}

aside#bottom-side {

    width: 570px;
    margin-left: 10px;
}

div#most-title {
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #484848;
}

div#most-body {
    padding: 10px;
}

div#bottom-side-ad {
    border: #484848 solid 1px;
    background-color: #272727;
    height: 122.5px;
}

div#bottom-side-ad2 {
    border: #484848 solid 1px;
    background-color: #272727;
    height: 122.5px;
    margin-top: 5px;
}

footer {
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #484848;
}

/* login */

div#user_template {
    background-color: #363636;
    padding: 10px;
}

div#in_user_template {
    border: #484848 solid 1px;
    background-color: #272727;
    margin: auto;
    text-align: center;
    padding: 10px;
    height: 800px;
}

div#login_logo {
    width: 450px;
    margin: 15px auto;
    height: 115px;
    padding: 0 55px;
}

div#user-input {
    width: 450px;
    margin: auto;
}

div#input-box {
    margin-top: 12px;
}

input {
    height: 40px;
    width: 100%;
    background-color: #363636;
    padding: 5px;
    border: #484848 solid 1px;
}

span#title-sub {
    font-size: 14px;
    color: #aaa;
}

div#login-title {
    width: 100%;
    font-size: 18px;
    text-align: left;
    height: 32px;
}

button#login {
    width: 450px;
    background-color: #848b79;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: #484848 solid 1px;
}

button#naver_login {
    font-weight: bold;
    width: 450px;
    background-color: #00bf18;
    height: 45px;
    margin-top: 20px;
    border: #484848 solid 1px;
}

button#kakao_login {
    font-weight: bold;
    color: #272727;
    width: 450px;
    background-color: #fae301;
    height: 45px;
    margin-top: 20px;
    border: #484848 solid 1px;
}

button#google_login {
    font-weight: bold;
    color: #272727;
    width: 450px;
    background-color: #f4f4f4;
    height: 45px;
    margin-top: 20px;
    border: #484848 solid 1px;
}

div#user-help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    font-size: 14px;
    margin: auto;
}


div#in-user-help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

div#social_login {
    margin: auto;
    width: 450px;
    padding-top: 20px;
    border-top: 1px solid #363636;
}

div#login-ad {
    width: 800px;
    height: 130px;
    margin: 20px auto;
    border: #484848 1px solid;
    background-color: #272727;
}

/* register */

button#register {
    width: 450px;
    background-color: #848b79;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: #484848 solid 1px;
}