section#account {
    border: #484848 solid 1px;
    background: #272727;
    text-align: center;
    margin-top: 5px;
}

section#account img {
    margin: 15px;
    padding: 0 55px;
}

section#account .input {
    width: 450px;
    margin: auto;
    font-size: 14px;
    color: #aaa;
    text-align: left;
}

section#account .input span {
    font-size: 18px;
    color: #eee;
}

section#account input {
    height: 30px;
    width: 438px;
    background: #363636;
    padding: 5px;
    border: #484848 solid 1px;
    margin: 3px auto 15px auto;
}

section#account form button {
    width: 450px;
    background: #848b79;
    height: 45px;
    margin: 8px 0 0 0;
    border: #484848 solid 1px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}

section#account .help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    font-size: 14px;
    margin: 5px auto 10px auto;
}

section#account .help a {
    color: #aaa;
    font-size: 12px;
}

section#account .social {
    margin: auto;
    width: 450px;
    padding-top: 20px;
    border-top: 1px solid #363636;
}

section#account .naver {
    font-weight: bold;
    width: 450px;
    background: #00bf18;
    height: 45px;
    border: #484848 solid 1px;
}

section#account .kakao {
    font-weight: bold;
    color: #272727;
    width: 450px;
    background: #fae301;
    height: 45px;
    margin-top: 20px;
    border: #484848 solid 1px;
}

section#account .google {
    font-weight: bold;
    color: #272727;
    width: 450px;
    background: #f4f4f4;
    height: 45px;
    margin-top: 20px;
    border: #484848 solid 1px;
}

section#account img#ad {
    width: 450px;
    height: 130px;
    margin: 25px auto;
    background: #272727;
}

/* profile */
img#profile-ad {
    width: 100%;
    height: 120px;
    margin-top: 5px;
}

section#profile {
    text-align: center;
    margin-top: 5px;
    background: #272727;
    border: 1px solid #484848;
}

section#profile ul {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #484848;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #272727;
}

section#profile li {
    width: 100%;
    text-align: center;
    color: #eee;
    font-size: 17px;
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    color: #aaa;
}

section#profile a {
    color: #eee;
}

section#profile .tabcont {
    display: none;
    padding: 20px 10px;
    text-align: left;
}

section#profile .tabcont.on {
    display: block;
}

section#profile #mycomment p {
    margin: 10px 0 5px 0;
}

section#profile span {
    font-size: 11px;
    color: #aaa;
}

section#profile #nickname {
    font-size: 16px;
}

section#profile #mycomment {
    font-size: 14px;
    color: #aaa;
}

section#profile #userimage {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

section#profile #info table {
    border-collapse: collapse
}

section#profile #info tr {
    width: 100%;
    border-bottom: 1px solid #484848;
}

section#profile #info th {
    width: 238px;
    height: 50px;
    text-align: center;
    border-right: 1px solid #484848;
}

section#profile #info td {
    color: #aaa;
    padding: 0 0 0 10px;
    width: 705px;
}