<link rel="stylesheet" type="text/css" href="{% static 'pagination.css' %}" />
<ul class="page-list">
    {% if page_obj.has_previous %}
    <li class="page-item-button">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;&nbsp</a>
    </li>
    {% else %}
    <li class="page-item-button">
        <a class="page-link">&laquo;&nbsp</a>
    </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item-active">{{ i }}</li>
    {% elif i > page_obj.number|add:'-7' and i < page_obj.number|add:'7' %} <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item-button">
            <a href="?page={{page_obj.next_page_number}}" class="page-link">&nbsp&raquo;</a>
        </li>
        {% else %}
        <li class="page-item-button">
            <a class="page-link">&nbsp&raquo;</a>
        </li>
        {% endif %}
</ul>