{% extends "home/home.html" %}
{% load static %}
{% block content %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8572587507451544"
    crossorigin="anonymous"></script>
<ins class="adsbygoogle" style="display:inline-block;width:922px;height:125px;margin-top:5px;"
    data-ad-client="ca-pub-8572587507451544" data-ad-slot="7955606599"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% block board %}
{% endblock board %}
{% endblock content %}