{% extends "home/home.html" %}
{% block contents %}
<div class="main">
    <div class="community">
        <div class="community_content">
            <div class="in_community_content">
                <div class="in_community_header">
                    <span style="color:#848b79;">|</span>
                    <span>자유</span>
                    <div class="community_body">
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                        <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                    </div>
                </div>
            </div>
            <div class="in_community_content">
                <div class="in_community_header">
                    <span style="color:#848b79;">|</span>
                    <span>정보</span>
                </div>
                <div class="community_body">
                    <div>제목, 댓글, 추천</div>
                    <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                    <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                    <div>(경) 대한민국, 폴란드와 40조원 어치 거래 성사! (축)</div>
                    <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                    <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                    <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                    <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                    <div>ㅁㄴㅇㄻㄴㅇㄹ</div>
                </div>
            </div>
        </div>
    </div>
    <div class="commu_ad"></div>
</div>
{% endblock contents %}
<!--             
{% for board in boards %}
추천:{{board.like}}
분류:{{board.board_name}}
제목:{{board.title}}
내용:{{board.content}}
작성자:{{board.writer}}
조회:{{board.view}}
작성일:{{board.date_string}}
{% endfor %}
-->