{% extends "board/community_list.html" %}
{% block detail %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    function like(id) {
        $.ajax({
            url: "{% url 'board:like' %}",
            data: {
                board_id: id,
            },
            dataType: "json",
            success: function (response) {
                $("#like_count").html(response.like);
                if (response.message == "off") {
                    $("#like").attr("class", "fa-regular fa-thumbs-up");
                } else if (response.message == "on") {
                    $("#like").attr("class", "fa-solid fa-thumbs-up");
                } else if (response.message == "notlogin") {
                    alert("로그인이 필요한 기능입니다.")
                }
            },
        });
    }
    $(document).ready(function () {
        $('#comment_create').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'board:comment_create' board.id %}",
                dataType: "json",
                data: {
                    'writer': $("#comment_writer").val(),
                    'content': $("#comment_content").val(),
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                    {
                        $('#new_comment').append(
                            "<li><img id='profile-img'><div>" + response.writer +
                            "<span><i class='fa-solid fa-clock'></i> " + response.date +
                            "</span><p>" + response.content + "</p></div></li>"
                        );
                    }
                    $("#comment_count").html(response.comment_count);
                    $('#comment_content').val("");
                },
                error: function () {
                    if ($('#comment_content').val() == "") {
                        alert('댓글을 입력해주세요.');
                    }
                },
            })
        });
    });
</script>
<section id="detail">
    {{ board }}
    <div class="sub">
        {{ board.writer }} |
        <i class="fa-solid fa-eye"></i> {{ board.view }}
        <i class="fa-solid fa-thumbs-up"></i> {{ board.like }}
        <i class="fa-solid fa-comment"></i> {{ board.comment_set.count }}
        <span><i class="fa-solid fa-clock"></i> {{ board.date }}</span>
    </div>
    <div class="content">
        {{ board.content | safe }}
    </div>
    <div class="writer-info">
    </div>
    <div class="buttons">
        <button id="{{ board.id }}" onclick="like(this.id)">
            {% if request.user in board.like_users.all %}
            <i id="like" class="fa-solid fa-thumbs-up"></i> 추천 <span id="like_count">{{board.like}}</span>
            {% else %}
            <i id="like" class="fa-regular fa-thumbs-up"></i> 추천 <span id="like_count">{{board.like}}</span>
            {% endif %}
        </button>
        <button id="flag"><i class="fa-solid fa-flag"></i> 신고</button>
    </div>
    <img id="detail-ad">
    <textarea id="comment_content" name="content" rows="4" placeholder="댓글을 입력하세요."></textarea>
    <button id="comment_create">게시</button>
    <input type="hidden" id="comment_writer" value={{request.user}}>
    댓글 <span id="comment_count">{{board.comment_set.count}}</span>
    <ul id="new_comment"></ul>
    <ul id="comment_list">
        {% for comment in board.comment_set.all %}
        <li>
            <img id="profile-img">
            <div>
                {{comment.writer}} <span><i class="fa-solid fa-clock"></i> {{comment.date}}</span>
                <p>{{comment.content}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock detail %}