{% extends "home/home.html" %}
{% block content %}
<div class="template">
    <div class="main-content">
        <div class="best">
        </div>
        <aside class="side"></aside>
        <div class="community_ad"></div>
        <div class="community_choice"></div>
        <div class="community_list"></div>
        <div class="community_page"></div>
        <div class="community_write"></div>
        <div class="community_search"></div>
    </div>
</div>
{% endblock content %}
<!--             
{% for board in boards %}
추천:{{board.like}}
분류:{{board.board_name}}
제목:{{board.title}}
내용:{{board.content}}
작성자:{{board.writer}}
조회:{{board.view}}
작성일:{{board.date_string}}
{% endfor %}
-->