{% extends "home/home.html" %}
{% block content %}
<link rel="stylesheet" href="/static/community.css/" />
{% block write %}
<section id="best">
    <span>베스트글</span>
    <div>
        <ul>
            {% for list in commu_hot_list %}
            <li>
                <a href="{% url 'board:community_detail' list.id %}">{{list.title|truncatechars:35}}</a>
                <i class="fa-solid fa-comment-dots"></i> {{ list.comment_set.count }}
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for list in commu_hot_list2 %}
            <li>
                <a href="{% url 'board:community_detail' list.id %}">{{list.title|truncatechars:35}}</a>
                <i class="fa-solid fa-comment-dots"></i> {{ list.comment_set.count }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<img style="image-rendering: -webkit-optimize-contrast;" id="list-ad">
{% block detail %}
<section id="list">
    <table>
        <thead>
            <tr>
                <th style="width:50px;">추천</th>
                <th style="width:50px;">조회수</th>
                <th style="width:605px;">제목</th>
                <th style="width:80px;">작성자</th>
                <th style="width:50px;">작성일</th>
            </tr>
        </thead>
        <tbody>
            {% for i in page_obj %}
            <tr>
                <td>{{ i.like }}</td>
                <td>{{ i.view }}</td>
                <td id="title">
                    <a href="{% url 'board:community_detail' i.pk %}" target="_self" style="text-decoration: none">
                        {{ i.title|truncatechars:45 }}
                    </a>
                    <i class="fa-solid fa-comment-dots"></i> {{ i.comment_set.count }}
                </td>
                <td>{{ i.writer }}</td>
                <td>{{ i.date_short }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section id="button">
    <div></div>
    {% block search %}
    {% include "pagination.html" %}
    {% endblock search %}
    {% if request.user.is_authenticated %}
    <button>
        <a href="{% url 'board:community_create' %}">
            <i class="fa-solid fa-pen-to-square"></i> 글쓰기
        </a>
    </button>
    {% else %}
    <button onclick="alert('로그인 후 작성 가능합니다.')">
        <i class="fa-solid fa-pen-to-square"></i> 글쓰기
    </button>
    {% endif %}
</section>
<section id="search">
    <form action="{% url 'board:community_search' %}" method="post">
        {% csrf_token %}
        <input name="q" value="{{q}}" placeholder="검색어를 입력해주세요.">
        <button type="submit">검색</button>
    </form>
</section>
{% endblock detail %}
{% endblock write %}
{% endblock content %}