{% extends "home/home.html" %}
{% block content %}
<script>
    function lv1() {
        alert("이메일 인증이 필요한 기능입니다.")
    }
</script>
<link rel="stylesheet" href="/static/community.css/" />
{% block write %}
<section id="best">
    <span>베스트글</span>
    <div>
        <ul>
            {% for list in commu_hot_list %}
            <li>
                <a href="{% url 'board:community_detail' list.id %}">{{list.title|truncatechars:35}}</a>
                <i class="fa-solid fa-comment-dots"></i> {{ list.comment_set.count }}
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for list in commu_hot_list2 %}
            <li>
                <a href="{% url 'board:community_detail' list.id %}">{{list.title|truncatechars:35}}</a>
                <i class="fa-solid fa-comment-dots"></i> {{ list.comment_set.count }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<img id="list-ad">
{% block detail %}
<section id="list">
    <table>
        <thead>
            <tr>
                <th style="width:50px;">추천</th>
                <th style="width:605px;">제목</th>
                <th style="width:80px;">작성자</th>
                <th style="width:50px;">조회수</th>
                <th style="width:50px;">작성일</th>
            </tr>
        </thead>
        <tbody>
            {% for i in community %}
            <tr>
                <td>{{ i.like }}</td>
                <td id="title">
                    <a href="{% url 'board:community_detail' i.pk %}" target="_self" style="text-decoration: none">
                        {{ i.title|truncatechars:45 }}
                    </a>
                    <i class="fa-solid fa-comment-dots"></i> {{ i.comment_set.count }}
                </td>
                <td>{{ i.writer }}</td>
                <td>{{ i.view }}</td>
                <td>{{ i.date_short }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section id="button">
    <div></div>
    {% if is_paginated %}
    {% include "pagination.html" %}
    {% endif %}
    {% if request.user.level >= 1 %}
    <button>
        <a href="{% url 'board:community_create' %}">
            <i class="fa-solid fa-pen-to-square"></i> 글쓰기
        </a>
    </button>
    {% else %}
    <button onclick="lv1()">
        <i class="fa-solid fa-pen-to-square"></i> 글쓰기
    </button>
    {% endif %}
</section>
<section id="search">
    <form method="post">
        {% csrf_token %}
        <select>
            <option>자유</option>
            <option>정보</option>
        </select>
        <input placeholder="검색어를 입력해주세요.">
        <button type="submit">검색</button>
    </form>
</section>
{% endblock detail %}
{% endblock write %}
{% endblock content %}