{% extends "board/community_list.html" %}
{% block detail %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    function like(id) {
        $.ajax({
            url: "{% url 'board:like' %}",
            data: {
                detail_id: id,
            },
            dataType: "json",
            success: function (response) {
                $("#like_count").html(response.like);
                if (response.message == "off") {
                    $("#like").attr("class", "fa-regular fa-thumbs-up");
                } else if (response.message == "on") {
                    $("#like").attr("class", "fa-solid fa-thumbs-up");
                } else if (response.message == "notlogin") {
                    alert("로그인이 필요한 기능입니다.")
                }
            },
        });
    }
</script>
<section id="detail">
    {{ detail }}
    <div class="sub">
        {{ detail.writer }} |
        <i class="fa-solid fa-eye"></i> {{ detail.view }}
        <i class="fa-solid fa-thumbs-up"></i> {{ detail.like }}
        <i class="fa-solid fa-comment"></i> 0
        <span><i class="fa-solid fa-clock"></i> {{ detail.date }}</span>
    </div>
    <div class="content">
        {{ detail.content | safe }}
    </div>
    <div class="writer-info">

    </div>
    <div class="buttons">
        <button id="{{ detail.id }}" onclick="like(this.id)">
            {% if request.user in detail.like_users.all %}
            <i id="like" class="fa-solid fa-thumbs-up"></i> 추천 <span id="like_count">{{detail.like}}</span>
            {% else %}
            <i id="like" class="fa-regular fa-thumbs-up"></i> 추천 <span id="like_count">{{detail.like}}</span>
            {% endif %}
        </button>
        <button id="flag"><i class="fa-solid fa-flag"></i> 신고</button>
    </div>
</section>
{% endblock detail %}