{% extends "board/base.html" %}
{% load static %}
{% if request.device.is_mobile or request.device.is_tablet %}



{% block Mhead %}
<title>커뮤니티</title>
<meta name="description" content="밀덕을 위한 군사 커뮤니티 포밀덕">
<meta name="title" content="커뮤니티 - 포밀덕">
<meta property="og:title" content="커뮤니티 - 포밀덕">
<meta property="og:description" content="밀덕을 위한 군사 커뮤니티 포밀덕">
<meta property="og:url" content="https://4millduk.com/board/community/">
{% endblock Mhead %}

{% block Mboard %}
<link rel="stylesheet" type="text/css" href="{% static 'mobile/Mcommunity.css' %}" />
{% block Mwrite %}
<section id="best">
    <span class="besttitle"><i class="fa-solid fa-fire"></i> 인기글</span>
    <ul>
        {% for i in commu_hot_list %}
        <li>
            <a href="{% url 'board:community_detail' i.id %}">{{i.title|truncatechars:25}}</a>
            <span class="sub">
                <i class="fa-solid fa-comment-dots"></i> {{ i.comment_set.count }}
                <i class="fa-solid fa-eye"></i> {{ i.view }}
                <i class="fa-solid fa-thumbs-up"></i> {{ i.like }}
            </span>
        </li>
        {% endfor %}
    </ul>
</section>
{% block Mdetail %}
<section id="list">
    <span class="besttitle"><i class="fa-solid fa-comments"></i> 커뮤니티</span>
    <ul>
        {% for i in page_obj %}
        <li>
            <a href="{% url 'board:community_detail' i.pk %}" target="_self" style="text-decoration: none">
                {{ i.title|truncatechars:25 }}
            </a>
            <span class="sub">
                <i class="fa-solid fa-comment-dots"></i> {{ i.comment_set.count }}
                <i class="fa-solid fa-eye"></i> {{ i.view }}
                <i class="fa-solid fa-thumbs-up"></i> {{ i.like }}
            </span>
            <span class="date">{{ i.date_short }}</span>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="button">
    <div></div>
    {% block Msearch %}
    {% include "pagination.html" %}
    {% endblock Msearch %}
    {% if request.user.is_authenticated %}
    <button>
        <a href="{% url 'board:community_create' %}">
            <i class="fa-solid fa-pen-to-square"></i> 글쓰기
        </a>
    </button>
    {% else %}
    <button onclick="alert('로그인 후 작성 가능합니다.')">
        <i class="fa-solid fa-pen-to-square"></i> 글쓰기
    </button>
    {% endif %}
</section>
<section id="search">
    <form action="{% url 'board:community_search' %}" method="post">
        {% csrf_token %}
        <input name="q" value="{{q}}" placeholder="검색어를 입력해주세요.">
        <button type="submit">검색</button>
    </form>
</section>
{% endblock Mdetail %}
{% endblock Mwrite %}
{% endblock Mboard %}






{% else %}
{% block head %}
<title>커뮤니티</title>
<meta name="description" content="밀덕을 위한 군사 커뮤니티 포밀덕">
<meta name="title" content="커뮤니티 - 포밀덕">
<meta property="og:title" content="커뮤니티 - 포밀덕">
<meta property="og:description" content="밀덕을 위한 군사 커뮤니티 포밀덕">
<meta property="og:url" content="https://4millduk.com/board/community/">
{% endblock head %}

{% block board %}
<link rel="stylesheet" type="text/css" href="{% static 'community.css' %}" />
{% block write %}
<section id="best">
    <span><i class="fa-solid fa-fire"></i> 인기글</span>
    <div>
        <ul>
            {% for list in commu_hot_list %}
            <li>
                <a href="{% url 'board:community_detail' list.id %}">{{list.title|truncatechars:35}}</a>
                <i class="fa-solid fa-comment-dots"></i> {{ list.comment_set.count }}
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for list in commu_hot_list2 %}
            <li>
                <a href="{% url 'board:community_detail' list.id %}">{{list.title|truncatechars:35}}</a>
                <i class="fa-solid fa-comment-dots"></i> {{ list.comment_set.count }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% block detail %}
<section id="list">
    <table>
        <thead>
            <tr>
                <th style="width:50px;">번호</th>
                <th style="width:605px;">제목</th>
                <th style="width:50px;">조회수</th>
                <th style="width:50px;">추천</th>
                <th style="width:80px;">작성자</th>
                <th style="width:50px;">작성일</th>
            </tr>
        </thead>
        <tbody>
            {% for i in page_obj %}
            <tr>
                <td>{{ i.id }}</td>
                <td id="title">
                    <a href="{% url 'board:community_detail' i.pk %}" target="_self" style="text-decoration: none">
                        {{ i.title|truncatechars:45 }}
                    </a>
                    <i class="fa-solid fa-comment-dots"></i> {{ i.comment_set.count }}
                </td>
                <td>{{ i.view }}</td>
                <td>{{ i.like }}</td>
                <td>
                    {% if i.writer.verified %}
                    <i class="fa-solid fa-award"></i> {{ i.writer }}
                    {% else %}
                    {{ i.writer }}
                    {% endif %}
                </td>
                <td>{{ i.date_short }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section id="button">
    <div></div>
    {% block search %}
    {% include "pagination.html" %}
    {% endblock search %}
    {% if request.user.is_authenticated %}
    <button>
        <a href="{% url 'board:community_create' %}">
            <i class="fa-solid fa-pen-to-square"></i> 글쓰기
        </a>
    </button>
    {% else %}
    <button onclick="alert('로그인 후 작성 가능합니다.')">
        <i class="fa-solid fa-pen-to-square"></i> 글쓰기
    </button>
    {% endif %}
</section>
<section id="search">
    <form action="{% url 'board:community_search' %}" method="post">
        {% csrf_token %}
        <input name="q" value="{{q}}" placeholder="검색어를 입력해주세요.">
        <button type="submit">검색</button>
    </form>
</section>
{% endblock detail %}
{% endblock write %}
{% endblock board %}
{% endif %}