{% extends "board/community_list.html" %}
{% block write %}
<section id="write">
    <img id="write-ad">
    <form method="post">
        {% csrf_token %}
        <div class="top">
            {{ form.name }}
            {{ form.title }}
        </div>
        <div>
            {{ form.content|safe }}
        </div>
        <input id="done" type="submit" value="게시">
        <button id="cancel" onclick="window.history.back();" type="button">취소</button>
    </form>
</section>
<script>
    $(window).on('beforeunload', function () {
        return "";
    });
    $(document).on("submit", "form", function () {
        $(window).off('beforeunload');
    });
</script>
{% endblock write %}