{% extends "board/community_list.html" %}
{% block detail %}
<section id="detail">
    {{detail}}
    <div class="sub">
        {{detail.writer}} |
        <i class="fa-solid fa-eye"></i> {{detail.view}}
        <i class="fa-solid fa-thumbs-up"></i> {{detail.like}}
        <i class="fa-solid fa-comment"></i> 0
        <span><i class="fa-solid fa-clock"></i> {{detail.date}}</span>
    </div>
    <div class="content">
        {{detail.content | safe}}
    </div>
    <div class="writer_info">

    </div>
    </div>
    {% endblock detail %}