{% extends "home/home.html" %}
{% block content %}
<link rel="stylesheet" href="/static/event.css/" />
<section id="write">
    <img id="write-ad">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="top">
            <img id="preview">
            <label for="thumbnail">썸네일</label>
            <input type="file" name="thumbnail" accept="image/*" id="thumbnail" onchange="resizing()">
            <script>
                function resizing() {
                    var f = thumbnail.files[0];
                    var fileName = f.name.split('.')[0];
                    var img = new Image();
                    img.src = URL.createObjectURL(f);
                    img.onload = function () {
                        var canvas = document.createElement('canvas');
                        var maxsize = 600;
                        var width = img.width;
                        var height = img.height;
                        if (width > height) {
                            if (width > maxsize) {
                                height *= maxsize / width;
                                width = maxsize;
                            }
                        } else {
                            if (height > maxsize) {
                                width *= maxsize / height;
                                height = maxsize;
                            }
                        }
                        canvas.width = width;
                        canvas.height = height;
                        var ctx = canvas.getContext('2d');
                        ctx.drawImage(img, 0, 0, width, height);
                        canvas.toBlob(function (blob) {
                            var f2 = new File([blob], fileName + ".jpeg");
                            const files = document.querySelector('#thumbnail').files;
                            const dataTranster = new DataTransfer();
                            Array.from(files)
                                .forEach(file => {
                                    dataTranster.items.add(f2);
                                });
                            document.querySelector('#thumbnail').files = dataTranster.files;
                        }, 'image/jpeg', 0.7);
                    }
                    document.getElementById("preview").style.display = "inline-block";
                    document.getElementById("preview").src = img.src;
                    document.getElementById("id_title").style.width = "496px";
                }
            </script>
            {{ form.start }}~{{ form.end }}
            {{ form.title }}
        </div>
        {{ form.content }}
        <input id="done" type="submit" value="게시">
        <button id="cancel" onclick="window.history.back();" type="button">취소</button>
    </form>
</section>
<script>
    $(window).on('beforeunload', function () {
        return "";
    });
    $(document).on("submit", "form", function () {
        $(window).off('beforeunload');
    });
</script>
{% endblock content %}