{% extends "board/base.html" %}
{% load static %}
{% if request.device.is_mobile or request.device.is_tablet %}
{% block Mhead %}
<title>{{ board.title }}</title>
<meta name="description" content="{{ board.content|safe|striptags|truncatechars:55 }}">
<meta name="title" content="{{ board.title }} - 행사일정 - 포밀덕">
<meta property="og:title" content="{{board.title}} - 행사일정 - 포밀덕">
<meta property="og:description" content="{{ board.content|safe|striptags|truncatechars:55 }}">
<meta property="og:url" content="https://4millduk.com/board/event/{{board.id}}/">
{% endblock Mhead %}
{% block Mboard %}
<link rel="stylesheet" type="text/css" href="{% static 'mobile/Mevent.css' %}" />
<section id="detail">
    <h1>{{ board.title }}</h1>
    <div class="sub">
        <i class="fa-regular fa-calendar"></i> {{board.start|date}} ~ {{board.end|date}}
    </div>
    <div class="content">
        {{ board.content | safe }}
    </div>
</section>
{% endblock Mboard %}
{% else %}
{% block head %}
<title>{{ board.title }}</title>
<meta name="description" content="{{ board.content|safe|striptags|truncatechars:55 }}">
<meta name="title" content="{{ board.title }} - 행사일정 - 포밀덕">
<meta property="og:title" content="{{board.title}} - 행사일정 - 포밀덕">
<meta property="og:description" content="{{ board.content|safe|striptags|truncatechars:55 }}">
<meta property="og:url" content="https://4millduk.com/board/event/{{board.id}}/">
{% endblock head %}
{% block board %}
<link rel="stylesheet" type="text/css" href="{% static 'event.css' %}" />
<section id="detail">
    <h1>{{ board.title }}</h1>
    {% if request.user.is_staff %}
    <span class="modify">
        <a href="{% url 'board:event_update' board.id %}">수정</a>
        <a onclick="boardDelete('{{board.id}}')">삭제</a>
        <script>
            function boardDelete() {
                var warning = confirm("게시글을 삭제할 경우 복구가 불가능합니다.\n정말 삭제하시겠습니까?");
                if (warning == true) {
                    window.location.href = "{% url 'board:event_delete' board.id %}"
                }
            }
        </script>
    </span>
    {% endif %}
    <div class="sub">
        <i class="fa-regular fa-calendar"></i> {{board.start|date}} ~ {{board.end|date}}
    </div>
    <div class="content">
        {{ board.content | safe }}
    </div>
</section>
{% endblock board %}
{% endif %}