{% extends "home/home.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'news.css' %}" />
<img style="image-rendering: -webkit-optimize-contrast;" id="news_ad">
<section id="news_list">
    <ul class="news-page">
        {% for i in page_obj %}
        <a href="{% url 'board:news_detail' i.id %}">
            <li>
                <img style="image-rendering: -webkit-optimize-contrast;" src="{{i.thumbnail.url}}">
                <div>
                    {{i.title|truncatechars:37}}
                    <p>
                        {{ i.writer }}
                        <i class="fa-solid fa-eye"></i> {{ i.view }}
                        <span><i class="fa-solid fa-clock"></i> {{ i.date_str }}</span>
                    </p>
                    <span class="content">{{i.content|striptags|safe|truncatechars:100}}</span>
                </div>
            </li>
        </a>
        {% endfor %}
    </ul>
</section>
<section id="button">
    <div></div>
    {% block search %}
    {% include "pagination.html" %}
    {% endblock search %}
    {% if request.user.verified %}
    <button>
        <a href="{% url 'board:news_create' %}">
            <i class="fa-solid fa-pen-to-square"></i> 글쓰기
        </a>
    </button>
    {% else %}
    <button onclick="alert('인증된 유저만 작성 가능합니다.')">
        <i class="fa-solid fa-pen-to-square"></i> 글쓰기
    </button>
    {% endif %}
</section>
<section id="search">
    <form action="{% url 'board:news_search' %}" method="post">
        {% csrf_token %}
        <input name="q" value="{{q}}" placeholder="검색어를 입력해주세요.">
        <button type="submit">검색</button>
    </form>
</section>
{% endblock content %}