{% extends "board/base.html" %}
{% load static %}
{% block head %}
<title>{{ board.title }}</title>
<meta name="description" content="{{ board.content|safe|striptags|truncatechars:55 }}">
<meta name="title" content="{{ board.title }}">
<meta property="og:title" content="{{board.title}}">
<meta property="og:description" content="{{ board.content|safe|striptags|truncatechars:55 }}">
{% block Chead %}
<meta property="og:url" content="https://4millduk.com/board/news/{{board.id}}/">
{% endblock Chead %}
{% endblock head %}
{% block board %}
<link rel="stylesheet" type="text/css" href="{% static 'news.css' %}" />
<input type="hidden" value={{board.view_count}}>
<section id="detail">
    <h1>{{ board.title }}</h1>
    {% block column %}
    {% if request.user == board.writer %}
    <span class="modify">
        <a href="{% url 'board:news_update' board.id %}">수정</a>
        <a onclick="boardDelete('{{board.id}}')">삭제</a>
        <script>
            function boardDelete() {
                var warning = confirm("게시글을 삭제할 경우 복구가 불가능합니다.\n정말 삭제하시겠습니까?");
                if (warning == true) {
                    window.location.href = "{% url 'board:news_delete' board.id %}"
                }
            }
        </script>
    </span>
    {% endif %}
    {% endblock column %}
    <div class="sub">
        {% if board.writer.verified %}
        <i class="fa-solid fa-award"></i> {{ board.writer }}
        {% else %}
        {{ board.writer }}
        {% endif %} |
        <i class="fa-solid fa-eye"></i> {{ board.view }}
        <span><i class="fa-solid fa-clock"></i> {{ board.date_str }}</span>
    </div>
    <div class="content">
        {{ board.content | safe }}
    </div>
</section>
{% endblock board %}