{% extends "home/home.html" %}
{% block content %}
<script>
    function lv2() {
        alert("Lv2 이상의 권한이 필요합니다.")
    }
</script>
<link rel="stylesheet" href="/static/news.css/" />
<img id="news_ad">
<section id="news_list">
    {% block column-list %}
    <ul class="news-page">
        {% for list in lists %}
        <a href="{% url 'board:news_detail' list.id %}">
            <li>
                <img src="{{list.thumbnail.url}}">
                <div>
                    {{list.title|truncatechars:37}}
                    <p>
                        {{ list.writer }}
                        <i class="fa-solid fa-eye"></i> {{ list.view }}
                        <span>{{ list.date }}</span>
                    </p>
                    <span class="content">{{list.content|striptags|safe|truncatechars:100}}</span>
                </div>
            </li>
        </a>
        {% endfor %}
    </ul>
    {% endblock column-list %}
</section>
<section id="button">
    <div></div>
    {% if is_paginated %}
    {% include "pagination.html" %}
    {% endif %}
    {% block column %}
    {% if request.user.level >= 2 %}
    <button>
        <a href="{% url 'board:news_create' %}">
            <i class="fa-solid fa-pen-to-square"></i> 글쓰기
        </a>
    </button>
    {% else %}
    <button onclick="lv2()">
        <i class="fa-solid fa-pen-to-square"></i> 글쓰기
    </button>
    {% endif %}
    {% endblock column %}
</section>
{% endblock content %}