{% extends "home/home.html" %}
{% block user %}
<link rel="stylesheet" href="/static/news.css/" />
<script>
    function boardDelete() {
        var warning = confirm("게시글을 삭제할 경우 복구가 불가능합니다.\n정말 삭제하시겠습니까?");
        if (warning == true) {
            window.location.href = "{% url 'board:news_delete' news.id %}"
        }
    }
</script>
<div class="ad">
    <img id="ad">
    <img id="ad">
</div>
<section id="detail">
    {{ news.title }}
    {% if request.user == news.writer %}
    <span class="modify">
        <a href="{% url 'board:news_update' news.id %}">수정</a>
        <a onclick="boardDelete('{{board.id}}')">삭제</a>
    </span>
    {% endif %}
    <div class="sub">
        {{ news.writer }} |
        <i class="fa-solid fa-eye"></i> {{ news.view }}
        <span><i class="fa-solid fa-clock"></i> {{ news.date }}</span>
    </div>
    <div class="content">
        {{ news.content | safe }}
    </div>
</section>
{% endblock user %}