{% extends "home/home.html" %}
{% block content %}
<link rel="stylesheet" href="/static/notice.css/" />
<img id="ad">
<section id="notice">
    <div class="title">
        공지
    </div>
    <ul class="noticelist">
        {% for list in notice_list %}
        <li class="inlist" onclick="openclose('{{list.id}}')">
            <i class="fa-solid fa-caret-down"></i> <b>{{ list.title|truncatechars:45}}</b>
            <span><i class="fa-solid fa-clock"></i> {{ list.date_str }}</span>
            <div id="{{list.id}}" class="notice-content">
                {{list.content|safe}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% include "pagination.html" %}
</section>
<script>
    function openclose(id) {
        if (document.getElementById(id).style.display === 'block') {
            document.getElementById(id).style.display = 'none';
        } else {
            document.getElementById(id).style.display = 'block';
        }
    }
</script>
{% endblock content %}