section#account {
    background: #272727;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

section#account img {
    width: 50%;
    margin: 15px;
}

section#account .input {
    width: 100%;
    font-size: 14px;
    color: #aaa;
    text-align: left;
}

section#account .input span {
    font-size: 16px;
    color: #ddd;
    font-weight: bold;
}

section#account input {
    height: 45px;
    width: 100%;
    background: #363636;
    padding: 5px;
    margin: 5px auto 15px auto;
    box-sizing: border-box;
}

section#account form button {
    width: 100%;
    background: #848b79;
    height: 45px;
    margin: 8px 0 0 0;
    color: #ddd;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

section#account .help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    margin: 10px auto 10px auto;
}

section#account .help a {
    color: #aaa;
    font-size: 12px;
}

section#account .social {
    margin: auto;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #363636;
}

section#account .social img {
    float: left;
    width: 10%;
    height: 40px;
    margin: 0;
    padding: 0;
}

section#account .social form span {
    line-height: 42px;
    color: #272727;
    margin-right: 30px;
}

section#account .naver {
    font-weight: bold;
    width: 100%;
    background: #03c75a;
    height: 45px;
    border: #484848 solid 1px;
}

section#account .kakao {
    font-weight: bold;
    color: #272727;
    width: 100%;
    background: rgb(254, 229, 0);
    height: 45px;
    margin-top: 20px;
    border: #484848 solid 1px;
}

section#account .google {
    font-weight: bold;
    color: #272727;
    width: 100%;
    background: #fff;
    height: 45px;
    margin-top: 20px;
    border: #484848 solid 1px;
}



section#profile {
    text-align: center;
    margin-top: 5px;
    background: #272727;
    border: 1px solid #484848;
}

section#profile ul {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #484848;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #272727;
}

section#profile li {
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 14px;
    list-style: none;
    padding: 7px 0;
    color: #aaa;
    font-weight: bold;
}

section#profile a {
    color: #ddd;
}

section#profile .tabcont {
    display: none;
    padding: 20px 10px;
    text-align: left;
}

section#profile .tabcont.on {
    display: block;
}

section#profile #mycomment p {
    margin: 10px 0 5px 0;
}

section#profile span {
    font-size: 11px;
    color: #ddd;
}

section#profile #nickname {
    font-size: 13px;
}

section#profile #mycomment {
    font-size: 14px;
    color: #aaa;
}

section#profile #userimage {
    border-radius: 50%;
    width: 60%;
    height: 50px;
    margin-left: 5px;
}

section#profile .filebox label {
    padding: .5em .75em;
    background: #363636;
    font-size: 11px;
    border: 1px solid #484848;
}

section#profile .filebox input[type="file"] {
    display: none;
}


section#profile #info table {
    border-collapse: collapse
}

section#profile #info tr {
    width: 100%;
    border-bottom: 1px solid #484848;
}

section#profile #info th {
    width: 238px;
    height: 50px;
    text-align: center;
    border-right: 1px solid #484848;
}

section#profile #info td {
    color: #ddd;
    padding: 0 0 0 10px;
    width: 705px;
}