{% extends "home/home.html" %}
{% load static %}
{% block user %}
<link rel="stylesheet" href="/static/user.css/" />
<section id="account">
    <form method="post">
        {% csrf_token %}
        <img src="{% static 'logo2.png' %}" />
        {% block register %}
        <div class="input">
            <span>아이디</span>
            {{form.username}}
            <span>비밀번호</span>
            {{form.password}}
        </div>
        <button type="submit">로그인</button>
        <div class="help">
            자동로그인
            <div>
                <a href="">계정찾기</a>&nbsp|&nbsp
                <a href="{% url 'user:register' %}">회원가입</a>
            </div>
        </div>
    </form>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p style="color:#ff3737; font-size:13px;">{{ error | linebreaksbr }}</p>
    {% endfor %}
    {% endif %}
    <div class="social">
        <button class="naver" type="submit">네이버 로그인</button>
        <button class="kakao" type="submit">카카오 로그인</button>
        <button class="google" type="submit">구글 로그인</button>
    </div>
    {% endblock register %}
    <img id="ad">
</section>
{% endblock user %}