{% extends "home/home.html" %}
{% block content %}
<link rel="stylesheet" href="/static/user.css/" />
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>
    $(function () {
        $('li').click(function () {
            $('ul.tab li').removeClass('on');
            $('.tabcont').removeClass('on');
            $(this).addClass('on');
            $('#' + $(this).attr('data-tab')).addClass('on');
            $('#profile li').css('background-color', '#272727');
            $(this).css('background-color', '#848b79');
        })
    });
</script>
<img id="profile-ad">
<section id="profile">
    <ul>
        <li data-tab="info" class='on' style="background:#848b79;">
            <i class="fa-solid fa-circle-info"></i> 내정보
        </li>
        <li data-tab="myboard">
            <i class="fa-solid fa-file-pen"></i> 작성한 글
        </li>
        <li data-tab="mycomment">
            <i class="fa-solid fa-comment-dots"></i> 작성한 댓글
        </li>
        <li data-tab="mylike">
            <i class="fa-solid fa-thumbs-up"></i> 추천한 글
        </li>
    </ul>
    <div id="info" class="tabcont on">
        <img src={% if person.profile.image %}"{{ person.profile.image.url }}"
        {% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} width="150rem" style="border-radius: 50%;">
        <p>아이디 : {{request.user.userid}}</p>
        <p>닉네임 : {{request.user.name}}</p>
        <p>이메일 : {{request.user.email}}</p>
        <p>생성일 : {{request.user.join_date}}</p>
        <p>포인트 : {{request.user.point}}</p>
    </div>
    <div id="myboard" class="tabcont">
        {% for board in request.user.community_set.all %}
        <p>
            <a href="{% url 'board:community_detail' board.id %}">{{ board.title|truncatechars:35 }}</a>
            &nbsp<span><i class="fa-solid fa-comment-dots"></i> {{ board.comment_set.count }}</span>
        </p>
        {% endfor %}
    </div>
    <div id="mycomment" class="tabcont">
        {% for comment in request.user.comment_set.all %}
        <p>
            <a href="{% url 'board:community_detail' comment.community_id %}">
                {{ comment.community.title|truncatechars:35 }}</a>
            &nbsp<span><i class="fa-solid fa-comment-dots"></i> {{ comment.community.comment_set.count }}</span>
        </p>
        <i class="fa-solid fa-arrow-right"></i>&nbsp {{ comment.content }}
        {% endfor %}
    </div>
    <div id="mylike" class="tabcont">
        {% for board in request.user.like_boards.all %}
        <p>
            <a href="{% url 'board:community_detail' board.id %}">{{ board.title|truncatechars:35 }}</a>
            &nbsp<span><i class="fa-solid fa-comment-dots"></i> {{ board.comment_set.count }}</span>
        </p>
        {% endfor %}
    </div>
</section>
{% endblock content %}