{% extends "user/login.html" %}
{% load static %}
{% block register %}
<script>
    function id_val() {
        var check = /^(?=.*?[a-zA-Z]).{5,20}$/;
        var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g;
        var space = /\s/g;
        if ($("#userid").val() == "") {
            document.getElementById('id_help').innerHTML = "필수 항목입니다.";
        }
        else if (space.test($("#userid").val()) == true) {
            document.getElementById('id_help').innerHTML = "공백을 제거해주세요.";
        }
        else {
            if (!check.test($("#userid").val()) || reg.test($("#userid").val()) == true) {
                document.getElementById('id_help').innerHTML = "영문과 숫자로 이루어진 5자 이상으로 생성해주세요.";
            }
            else {
                document.getElementById('id_help').innerHTML = ("");
            }
        }
    }

    function name_val() {
        var check = /^(?=.*[a-zA-Z0-9ㄱ-힣]).{2,8}$/;
        var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g;
        var space = /\s/g;
        if ($("#name").val() == "") {
            document.getElementById('name_help').innerHTML = "필수 항목입니다.";
        }
        else if (space.test($("#name").val()) == true) {
            document.getElementById('name_help').innerHTML = "공백을 제거해주세요.";
        }
        else {
            if (!check.test($("#name").val()) || reg.test($("#name").val()) == true) {
                document.getElementById('name_help').innerHTML = "특수 문자를 제외한 2자~8자내로 생성해주세요.";
            }
            else {
                document.getElementById('name_help').innerHTML = ("");
            }
        }
    }

    function pw_val() {
        var reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
        if (!reg.test($("#password1").val())) {
            document.getElementById('pw1_help').innerHTML = "영문 대/소문자, 숫자, 특수 문자를 모두 포함한 8자 이상으로 생성해주세요.";
        }
        else {
            document.getElementById('pw1_help').innerHTML = ("");
        }
    }
    function pw_check() {
        if (document.getElementById('password1').value != '' && document.getElementById('password2').value != '') {
            if (document.getElementById('password1').value == document.getElementById('password2').value) {
                document.getElementById('pw2_help').innerHTML = ''
            }
            else {
                document.getElementById('pw2_help').innerHTML = '비밀번호가 일치하지 않습니다.';
            }
        }
    }
</script>
<div class="input">
    <span>아이디</span> (영문과 숫자로 이루어진 5자 이상)
    <input type="text" name="userid" maxlength="20" autofocus required id="userid" onchange="id_val()"
        style="margin-bottom:0;">
    <p id="id_help" style="margin-top:5px; color:#ff3737;"></p>
    <span>닉네임</span> (특수문자를 제외한 2~8자)
    <input type="text" name="name" maxlength="8" required id="name" onchange="name_val()" style="margin-bottom:0;">
    <p id="name_help" style="margin-top:5px; color:#ff3737;"></p>
    <span>비밀번호</span> (영문 대/소문자, 숫자, 특수문자를 모두 포함한 8자 이상)
    <input type="password" name="password1" autocomplete="new-password" required id="password1" onchange="pw_val()"
        style="margin-bottom:0;">
    <p id="pw1_help" style="margin-top:5px; color:#ff3737;"></p>
    <span>비밀번호 확인</span>
    <input type="password" name="password2" autocomplete="new-password" required id="password2" onchange="pw_check()"
        style="margin-bottom:0;">
    <p id="pw2_help" style="margin-top:5px; color:#ff3737;"></p>
    <span>이메일</span> (인증시 필요한 이메일)
    <input type="email" name="email" maxlength="32" required id="email">
</div>
{{ form.errors }}
<div>
    <button type="submit">회원가입</button>
</div>
{% endblock register %}