{% extends "home/home.html" %}
{% block content %}
<style>
    ul#input {
        height: 750px;
        width: 90%;
    }

    p#register-title {
        height: 70px;
        width: 40%;
        font-size: 18px;
    }

    p#register-body {
        height: 70px;
        width: 40%;
        font-size: 15px;
        text-align: center;
    }
</style>
<ul id="input">
    <form method="post">
        {% csrf_token %}
        <li>
            <p id="register-title">아이디</p>
            <p id="register-body">{{form.userid}}</p>
        </li>
        <li>
            <p id="register-title">닉네임</p>
            <p id="register-body">{{form.name}}</p>
        </li>
        <li>
            <p id="register-title">비밀번호</p>
            <p id="register-body">{{form.password1}}</p>
        </li>
        <li>
            <p id="register-title">비밀번호 확인</p>
            <p id="register-body">{{form.password2}}</p>
        </li>
        <li>
            <p id="register-title">이메일</p>
            <p id="register-body">{{form.email}}</p>
        </li>
        <button type="submit">회원가입</button>
    </form>
</ul>
{% endblock content %}